<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>AngularJS Filters</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.js"></script>
</head>

<body>
    <h1>Hello Angular JS</h1>
    <div ng-app="myapp" ng-controller="filtercontroller">

        <!--  filter, orderBy     -->
        Search: <input type="text" ng-model="search.location"> <br>
        <table border="1">
            <tr>
                <th ng-click="sortBy('name')">Name</th>
                <th ng-click="sortBy('location')">Location</th>
                <th>Date</th>
            </tr>
            <tr ng-repeat="friend in friends | filter:search  | orderBy:sortbyme">
                <td>{{friend.name  | uppercase}} </td>
                <td> {{friend.location | somecustomfilter}}</td>
                <td> {{friend.DOB }}</td>
            </tr>


        </table>

        {{friends}}


    </div>


    <script src="script/controller/rootmodule.js"></script>
    <script src="script/filters/controller.js"></script>
</body>

</html>