<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
   
    <title>AngularJS Modules</title>
   
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.js"></script>
</head>
<body>
    <div ng-app="myapp" ng-controller="mycontroller">
        <!--This is my view-->
        <p>First Name:</p>
        <input type="text" ng-model="fname" >
        <p>Last Name:</p>
        <input type="text" ng-model="lname" >
        <p>Hello, {{ fname +  " " + lname }}

        <!--This is end of my angular view-->
    </div>



    <script>
        var localapp = angular.module("myapp",[])
        localapp.controller("mycontroller", implementController)
        
        //this is implementation of controller
        function implementController($scope){
            $scope.fname = "Partha"
            $scope.lname= "Reddy"
        }
    </script>
</body>
</html>